<p>
  pagination works!
</p>
<div>
  <select (change)="onChange($event.target.value)">
  <option *ngFor="let pag of pageno">{{pag}}</option>
</select>
  </div>
  <br>
<input type="text" name="search" placeholder="NAME...." 
  (keyup)="onKey($event)">
<p>{{values}}</p>
  <table *ngIf="med" class="table table-hover">
    <thead>
      <tr>
        <th>Users</th>
      </tr>
  </thead>
       <tr *ngFor="let dat12 of data">
        <td><input type="radio" [value]="dat12.id"
          (change)="DispBank(dat12.id)" [(ngModel)]="rule"></td>
        <td>{{dat12.id}}</td>
        <td>{{dat12.email}}</td>
        <td>{{dat12.password}}</td>
      </tr> 
  </table>
  <p *ngIf="!med">{{exist}}</p>
   <ul class="nav nav-pills">
    <li class="nav-item" *ngFor="let p of pages">
    	<a class="nav-link active" href=""
    	 (click)="setpage(p,$event)">{{p}}
    	</a></li>
  </ul>
  <br><br>
<button (click)="tot()">count</button>
<h1 *ngFor="let tot of totpage">{{tot}}</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th>SBANK</th>
        <th>GBANK</th>
        <th>CBANK</th>
      </tr>
  </thead>
       <tr *ngFor="let dat2 of banks">
        <td>{{dat2.id}}</td>
        <td>{{dat2.email}}</td>
        <td>{{dat2.password}}</td>
        <td>
        </td>
      </tr> 
  </table>
  <br>
  <form novalidate [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
              <label for="id" >ID :</label><br>
  <input type="text"  formControlName="id" placeholder="ID...." required><br>
            <label for="email" >Email :</label><br>
  <input type="email"  formControlName="email" placeholder="Email...." required><br>
<label for="password" >Password :</label>
  <input type="password"    formControlName="password" placeholder="Password...." required>

              <br><br>

  <button type="submit">Post</button><br>
</form>