<br>
<button routerLink="pagination">Pagination</button>
<br><br>
<input type="text" name="search" placeholder="Email...." 
  (keyup)="onKey($event)">
<p>{{values}}</p>
  <form [formGroup]="myForm" (ngSubmit)="checkdelete()">
<table *ngIf="expression" class="table table-hover">
    <thead>
      <tr>
        <th>SearchUserDetails</th>
      </tr>
  </thead>
       <tr *ngFor="let dat101 of data4">
        <td><input type="checkbox"
     (change)="onChange(dat101.id, $event.target.checked)">
        </td>
        <td>{{dat101.id}}</td>
        <td>{{dat101.email}}</td>
        <td>{{dat101.password}}</td>
      </tr> 
  </table>
  <button type="submit">ChecKDelete</button><br>
      </form>
  <br>
  <pre>Form values: {{myForm.value | json}}</pre>
<form novalidate [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
              <label for="id" >ID :</label><br>
  <input type="text"  formControlName="id" placeholder="ID...." required><br>
            <label for="email" >Email :</label><br>
  <input type="email"  formControlName="email" placeholder="Email...." required><br>
<label for="password" >Password :</label>
  <input type="password"    formControlName="password" placeholder="Password...." required>

              <br><br>

  <button type="submit">Post</button><br>
</form>
                <table ng-if="expression" class="table table-hover">
    <thead>
      <tr>
        <th>NEWUSER</th>
      </tr>
  </thead>
       <tr *ngFor="let dat12 of data1">
        <td>{{dat12.id}}</td>
        <td>{{dat12.email}}</td>
        <td>{{dat12.password}}</td>
      </tr> 
  </table>
   <button type="submit" id ="fasak" (click) = "hello()" class="button ">GetUsers</button>
   <table *ngIf="expression" class="table table-hover">
    <thead>
      <tr>
        <th>USER'SDETAILS</th>
      </tr>
  </thead>
       <tr *ngFor="let dat2 of data2">
        <td>{{dat2.id}}</td>
        <td>{{dat2.email}}</td>
        <td>{{dat2.password}}</td>
        <td>
          <button (click)="deletuser(dat2.id)" type="submit">Delete</button>
        </td>
      </tr> 
  </table>
  <form novalidate [formGroup]="UpdateForm" (ngSubmit)="updateuser()">
    <h1>Enter id of user you want to change</h1>
<br>
<label for="oldid" >OLDID :</label><br>
  <input type="text"  formControlName="oldid" placeholder="ID...." required><br>
              <label for="id" >ID :</label><br>
  <input type="text"  formControlName="id" placeholder="ID...." required><br>
            <label for="email" >Email :</label><br>
  <input type="email"  formControlName="email" placeholder="Email...." required><br>
<label for="password" >Password :</label>
  <input type="password"    formControlName="password" placeholder="Password...." required>

              <br><br>

  <button type="submit" >Update</button><br>
</form>
<table *ngIf="expression" class="table table-hover">
    <thead>
      <tr>
        <th>UpdatedUserDetails</th>
      </tr>
  </thead>
       <tr *ngFor="let dat102 of data3">
        <td>{{dat102.id}}</td>
        <td>{{dat102.email}}</td>
        <td>{{dat102.password}}</td>
      </tr> 
  </table>
  <br><br>
  <form novalidate [formGroup]="ExistForm" (ngSubmit)="existuser()">
    <h1>Enter name to check whether exists</h1>
<br>
            <label for="email" >Email :</label><br>
  <input type="email"  formControlName="email" placeholder="Email...." required>
                <br><br>
  <button type="submit" >Check</button><br>
</form>
<h3>{{exist}}</h3>
<br>
  

              
